/* Page Container */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* light gray background */
  color: #333;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1976d2;
}
/*  Form Card */
.form-card {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.form-card input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/*  Buttons */
button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: #2196F3;
  margin-right: 5px;
  font-weight: bold;
}
.button-add { background-color: #4caf50; }
.button-update { background-color: #2196F3; }
.button-delete { background-color: #f44336; }
.button-fetch { background-color: #ff9800; }
button:hover {
  opacity: 0.9;
}
/*  Table (View Employees) */
.employee-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
.employee-table th, .employee-table td {
  padding: 10px;
  border: 1px solid #ccc;
}
.employee-table th {
  background-color: #1976d2;
  color: white;
}
.employee-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.dashboard-container{
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 220px;
  background-color: #1976d2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.sidebar h3{
  margin-bottom: 20px;
}
.sidebar button{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border:none;
  border-radius: 4px;
  background-color: white;
  color: #1976d2;
  cursor: pointer;
  font-weight: bold;
}
.sidebar button:hover{
  background-color: #e3f2fd;
}
.logout-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f44336;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  z-index: 1000;
}

.content-area{
  flex: 1;
  padding: 30px;
  background-color: #f5f5f5;
}
#login-container, #register-container {
  
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 90px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
#login-container p, #register-container p {
  color: #0f0fcf;
}
#login-container h2, #register-container h2 {
  margin-bottom: 20px;
  color: #160674;
}
#login-container input, #register-container input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}