body {
  margin: 0;
  min-width: 320px;
  max-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
}
.app-container {
  max-width: 700px;
  margin: 20px auto; /* centers horizontally, adds top & bottom margin */
  padding: 30px;
  background-color: #6a97f8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}